body {
   margin: 0;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header, 
main, 
footer {
   display: inline-block;
   background-color: pink;
   width: 800px;
   margin-left: calc(50% - 400px);
   margin-bottom: 30px;
}

header {
   margin-top: 40px;
}

img {
   width: 100px;
   height: 40px;
   float: left;
   object-fit: contain;
   object-position: left;
}

nav {
   float: right;
   margin-top: 10px;
}

a {
   display: inline-block;
   font-size: 20px;
   line-height: 1em;
   text-decoration: none;
   color: #000;
   margin-left: 2em;
}

a:first-child {
   margin-left: 0;
}

a:hover {
   color: orangered;
   text-decoration: underline;
}